.open-sans-ref {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* common css part  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg-color{
    background-color: #f5f7ff;
}
/* shared styles  */
.btn-primary{
    background-color: #4E47FF;
    color: #FFFFFF;
    padding: 16px 26px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-primary:hover {
  background-color: #9c4164;
  color: black;
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(78, 71, 255, 0.4);
}
.btn-primary-full{
    width: 100%;
    background-color: #4E47FF;
    color: #FFFFFF;
    padding: 16px 26px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.btn-primary-full:hover {
  background-color: #9c4164;
  color: black;
  transform: scale(1.10);
  box-shadow: 0 9px 21px rgba(78, 71, 255, 0.4);
}
.pju-title{
    font-weight: bold;
    font-size: 38px;
    color: #252432;
    margin-bottom: 40px;
}
/* header style start  */
.header{
    padding: 16px 26px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.btn-primary-full:hover {
  background-color: #9c4164;
  color: black;
  transform: scale(1.10);
  box-shadow: 0 9px 21px rgba(78, 71, 255, 0.4);
}
.pju-title{
    font-weight: bold;
    font-size: 38px;
    color: #252432;
    margin-bottom: 40px;
}

/* header styles  */
.header{
    background-image: linear-gradient(rgba(245, 248, 255, 0.6), rgba(245, 248, 255, 0.6)), url('../public/Assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 700px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
    padding-top: 50px;
}
.nav-title{
    font-weight: 800;
    font-size: 34px;
    color: rgba(78, 71, 255, 1);
}
/* banner part styles  */
.banner{
    display: flex;
    justify-content: center;
    margin: 237px 267px;
}
.b-content{
    max-width: 900px;
    display: block;
    justify-content: center;
    align-items: center;
}
.b-title{
    font-weight: bold;
    font-size: 65px;
    color: #252432;
    text-align: center;
}
.btn-margin{
    margin-top: 37px;
    margin-left: 310px;
}
/* action part style  */
.action-content{   
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 150px  150px ;
    gap: 100px;
}
.action-action{
    max-width: 500px;
}
.action-title{
    font-weight: bold;
    font-size: 42px;
    color: #252432;
    margin-bottom: 23px;
}
.action-description{
    font-size: 24px;
    color: #252432;
    margin-bottom: 23px;
}
.action-image img{
    border-radius: 20%;
}